.MainLayout {
  margin: 1rem auto;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
}

.Pagination {
  display: flex;
  justify-content: center;
}
